{% unless found %}
<div class="layout gap--large">
  <div class="grid grid--cols-1">
    {% if team_badge %}
    <div class="row row--center">
      <div class="flex flex--col no-shrink">
        <img class="image-dither h--48 lg:h--80" src="{{ team_badge }}"{% if team_badge_invert %} style="filter: invert(1);"{% endif %}>
      </div>
    </div>
    {% endif %}
    <div class="row row--center">
      <div class="flex flex--col no-shrink">
        <span class="value lg:value--xlarge">{{ not_found_message }}</span>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="layout gap--large">
  <div class="grid grid--cols-1">
    <div class="row row--center">
      <div class="flex flex--col gap--xsmall no-shrink">
        <img class="image-dither h--48 lg:h--80" src="{{ away_team_badge }}"{% if away_team_badge_invert %} style="filter: invert(1);"{% endif %}>
      </div>
      <div class="flex flex--col flex--center-y gap--xsmall" style="padding: 0 1rem;">
        <span class="value lg:value--mega">@</span>
      </div>
      <div class="flex flex--col gap--xsmall no-shrink">
        <img class="image-dither h--48 lg:h--80" src="{{ home_team_badge }}"{% if home_team_badge_invert %} style="filter: invert(1);"{% endif %}>
      </div>
    </div>
    <div class="row row--center">
      <div class="flex flex--col no-shrink">
        {% render "date_time", date_label: date_label, time_label: time_label %}
      </div>
    </div>
  </div>
</div>
{% endunless %}
<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">Next Game</span>
</div>
