{% unless found %}
<div class="layout gap--large">
  <div class="grid grid--cols-1">
    {% if team_badge %}
    <div class="row row--center">
      <div class="flex flex--col no-shrink">
        {% render "badge", src: team_badge, invert: team_badge_invert, trim: team_badge_trim, size_class: "h--48 lg:h--80" %}
      </div>
    </div>
    {% endif %}
    <div class="row row--center">
      <div class="flex flex--col no-shrink">
        <span class="value lg:value--xlarge">{{ not_found_message }}</span>
        {% render "stale_note", stale: stale, as_of_label: as_of_label %}
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="layout gap--large">
  <div class="grid grid--cols-1">
    <div class="row row--center">
      <div class="flex flex--col flex--center-y gap--xsmall no-shrink">
        {% render "badge", src: away_team_badge, invert: away_team_badge_invert, trim: away_team_badge_trim, size_class: "h--48 lg:h--80", clamp_aspect: true %}
      </div>
      <div class="flex flex--col flex--center-y gap--xsmall" style="padding: 0 1rem;">
        <span class="value lg:value--mega">@</span>
      </div>
      <div class="flex flex--col flex--center-y gap--xsmall no-shrink">
        {% render "badge", src: home_team_badge, invert: home_team_badge_invert, trim: home_team_badge_trim, size_class: "h--48 lg:h--80", clamp_aspect: true %}
      </div>
    </div>
    <div class="row row--center">
      <div class="flex flex--col no-shrink">
        {% render "date_time", date_label: date_label, time_label: time_label %}
        {% render "stale_note", stale: stale, as_of_label: as_of_label %}
      </div>
    </div>
  </div>
</div>
{% endunless %}
<div class="title_bar">
  <span class="title">Next Game</span>
  {% if team_name %}<span class="instance">{{ team_name }}{% if team_league_label %} ({{ team_league_label }}){% endif %}</span>{% endif %}
</div>
