{% unless found %}
<div class="layout gap--xxlarge">
  <div class="grid grid--cols-1">
    <div class="row row--center">
      <div class="flex flex--col no-shrink">
        <span class="value">No game found</span>
        <span class="value value--small">
          {% assign filter = trmnl.plugin_settings.custom_fields_values.game_type %}
          {% if filter == 'home' %}No next home game scheduled.
          {% elsif filter == 'away' %}No next away game scheduled.
          {% else %}No next game scheduled.
          {% endif %}
        </span>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="layout gap--xxlarge">
  <div class="grid grid--cols-1">
    <div class="row row--center">
      <div class="flex flex--col gap--xsmall no-shrink">
        <img class="image-dither" src="{{ away_team_badge }}" width="150"{% if away_team_badge_invert %} style="filter: invert(1);"{% endif %}>
      </div>
      <div class="flex flex--col flex--center-y gap--xsmall" style="padding: 0 0.5rem;">
        <span class="value value--small">@</span>
      </div>
      <div class="flex flex--col gap--xsmall no-shrink">
        <img class="image-dither" src="{{ home_team_badge }}" width="150"{% if home_team_badge_invert %} style="filter: invert(1);"{% endif %}>
      </div>
    </div>
    <div class="row row--center">
      <div class="flex flex--col no-shrink">
        {% render "date_time", start_utc_timestamp: start_utc_timestamp, utc_offset: trmnl.user.utc_offset %}
      </div>
    </div>
  </div>
</div>
{% endunless %}
