{% unless found %}
<div class="layout">
  {% if team_badge %}
  <div class="flex flex--col gap--xsmall no-shrink">
    {% render "badge", src: team_badge, invert: team_badge_invert, trim: team_badge_trim, size_class: "h--32 lg:h--48" %}
  </div>
  {% endif %}
  <div class="flex flex--col no-shrink">
    <span class="value lg:value--large">{{ not_found_message }}</span>
    {% render "stale_note", stale: stale, as_of_label: as_of_label %}
  </div>
</div>
{% else %}
<div class="layout">
  <div class="flex flex--col gap--xsmall no-shrink">
    {% render "badge", src: away_team_badge, invert: away_team_badge_invert, trim: away_team_badge_trim, size_class: "h--32 lg:h--48", clamp_aspect: true %}
  </div>
  <div class="flex flex--col gap--xsmall">
    <span class="value value--small lg:value--xlarge">@</span>
  </div>
  <div class="flex flex--col gap--xsmall no-shrink">
    {% render "badge", src: home_team_badge, invert: home_team_badge_invert, trim: home_team_badge_trim, size_class: "h--32 lg:h--48", clamp_aspect: true %}
  </div>
  <div class="flex flex--col no-shrink">
    {% render "date_time", date_label: date_label, time_label: time_label %}
    {% render "stale_note", stale: stale, as_of_label: as_of_label %}
  </div>
</div>
{% endunless %}
<div class="title_bar">
  <span class="title">Next Game</span>
  {% if team_name %}<span class="instance">{{ team_name }}{% if team_league_label %} ({{ team_league_label }}){% endif %}</span>{% endif %}
</div>
