{% unless found %}
<div class="layout gap--xlarge">
  {% if team_badge %}
  <div class="flex flex--col gap--xsmall no-shrink">
    <img class="image-dither" src="{{ team_badge }}" height="60"{% if team_badge_invert %} style="filter: invert(1);"{% endif %}>
  </div>
  {% endif %}
  <div class="flex flex--col no-shrink">
    <span class="value value--small">No game found</span>
  </div>
</div>
{% else %}
<div class="layout gap--xlarge">
  <div class="flex flex--col gap--xsmall no-shrink">
    <img class="image-dither" src="{{ away_team_badge }}" height="60"{% if away_team_badge_invert %} style="filter: invert(1);"{% endif %}>
    <span class="value value--xxsmall">@</span>
    <img class="image-dither" src="{{ home_team_badge }}" height="60"{% if home_team_badge_invert %} style="filter: invert(1);"{% endif %}>
  </div>
  <div class="flex flex--col">
    {% render "date_time", start_utc_timestamp: start_utc_timestamp, utc_offset: trmnl.user.utc_offset, time_class: "value value--small" %}
  </div>
</div>
{% endunless %}
