{% template date_time %}
  <span class="{{ date_class | default: 'value lg:value--large' }}">{{ date_label }}</span>
  <span class="{{ time_class | default: 'value lg:value--large' }}">{{ time_label }}</span>
{% endtemplate %}
